/** {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*outline: 0;*/
/*}*/

/*body, html {*/
    /*height: auto;*/
    /*width: 100%;*/
/*}*/

.footer{
    display: none;
}

body {
    color: #fffffe;
    font-family: 'OpenSans', sans-serif;
    background: #ededed;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

.wrapper p {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.wrapper a {
    background: #e74536;
    border-bottom: #b6140f solid 4px;
    color: #fffffd;
    cursor: pointer;
    display: block;
    font-family: 'OpenSans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 30px 0px 14px;
    padding: 12px 5px;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.wrapper a:hover {
    background: #cc2722;
}


/*Wrapper*/
.wrapper {
    display: block;
    margin: 0 auto;
    max-width: 950px;
    text-align: center;
    width: 83%;
}



/*Top Content Section*/
#top-content {
    background: #353743;
    display: block;
    float: left;
    height: auto;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}
#top-content .wrapper {
    display: block;
    max-width: 950px;
    min-height: 416px;
    overflow-x: hidden;
    position: relative;
    bottom: 0;
    width: 83%;
}
#top-content img#lock {
    float: left;
    margin-top: -3px;
    margin-right: 10px;
    max-width: 14px;
    position: relative;
    width: auto;
}
#top-content .left {
    display: block;
    overflow-x: hidden;
    width: 40%;
}
#top-content .right {
    display: block;
    float: right;
    margin: 0px 25px 20px 25px;
    max-width: 520px;
    vertical-align: middle;
    text-align: left;
}
#top-content img {
    display: block;
    max-width: 314px;
    position: absolute;
    bottom: 0;
}
#top-content h1 {
    font-size: 34px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 38px;
    margin-top: 30px;
}
#top-content h1 b {
    font-weight: 700;
}
#top-content #optin-form {
    font-weight: 700;
}
#top-content #optin-button b {
    text-decoration: underline;
}
#top-content .privacy {
    color: #9698a4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 40px;
}

/*Testimonials*/
#testimonials {
    background: #ededed;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 50px 0px;
    text-align: center;
    width: 100%;
}
#testimonials h2 {
    color: #e74535;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 49px;
    margin: 0 auto;
    text-align: center;
    max-width: 90%;
}
#testimonials .story {
    background: #fffffb;
    padding: 35px 30px;
    text-align: left;
}
#testimonials .quote {
    color: #ededed;
    float: left;
    font-family: 'Georgia', serif;
    font-size: 160px;
    font-style: normal;
    font-weight: 400;
    line-height: 140px;
    padding-right: 30px;
}
#testimonials p {
    color: #747474;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 28px;
}
#testimonials .testimonial img {
    max-width: 156px;
    vertical-align: middle;
}
.arrow-down {
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 23px solid #fffffb;
    float: right;
    margin-right: 57px;
    margin-bottom: 12px;
    max-width: 83%;
    width: 0; 
    height: 0; 
}
#testimonials .bottom {
    display: inline-block;
    margin-bottom: 24px;
    text-align: right;
    width: 100%;
}
#testimonials .label {
    display: inline-block;
    margin-right: 21px;
    max-width: 60%;
    vertical-align: middle;
}
#testimonials .label p b {
    color: #e74535;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: right;
}
#testimonials .label p {
    font-size: 18px;
    font-style: normal;
    text-align: right;
}
#testimonials .bottom-left {
    display: inline-block;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}
#testimonials .bottom-left h3, #testimonials .bottom-left p {
    text-align: left;
}
#testimonials .label-left {
    margin-left: 21px;
}
.left-float{
    float: none;
    margin-left: 57px;
    text-align: left;
}
#testimonials a {
    margin: 0 auto;
    margin-top: 121px;
    width: 256px;
}



/*Responsive Media Queries*/
@media all and (max-width: 1150px) {
    #top-content .wrapper {
        max-width: 87%;
        width: 87%;
    }
}
@media all and (max-width: 1100px) {
    #top-content .wrapper {
        max-width: 92%;
        width: 92%;
    }
}
@media all and (max-width: 1000px) {
    .wrapper {
        max-width: 77%;
    }
    #top-content .wrapper {
        margin: 0 auto;
        max-width: 90%;
        width: 90%;
    }
    #top-content img {
        position: relative;
    }
    #top-content .left {
        margin: 0 auto;
        margin-top: 30px;
        width: 50%;
    }
    #top-content .right {
        float: none;
        margin: 0 auto;
        max-width: 83%;
        width: auto;
    }
}
@media all and (max-width: 750px) {

    .wrapper {
        max-width: 90%;
    }
    #top-content .left {
        width: 80%;
    }
    #testimonials a {
        width: 80%;
    }
    #testimonials p, #testimonials .label p {
        font-size: 16px;
        line-height: 22px;
    }
    #testimonials .label {
        margin-right: 10px;
    }
    #testimonials .label h3 {
        font-size: 20px;
        line-height: 24px;
    }
}
@media all and (max-width: 550px) {
    a {
        font-size: 18px;
        line-height: 28px;
    }

    #top-content .left, #top-content .right {
        max-width: 100%;
    }
    #top-content img {
        width: 250px;
    }
    #testimonials .story {
        padding: 25px 20px;
    }
    #testimonials .quote {
        font-size: 120px;
        line-height: 100px;
        padding-right: 10px;
    }
    #testimonials .label {
        margin: 8px 0px 0px;
        max-width: 80%;
    }
    #testimonials .testimonial img {
        margin-top: 10px;
    }
    #testimonials .bottom, #testimonials .label p, #testimonials .bottom-left {
        text-align: center;
    }
    #testimonials .bottom, #testimonials .bottom-left {
        margin-bottom: 50px;
    }
    #testimonials a {
        margin-top: 60px;
    }
    .arrow-down {
        float: none;
        margin: 0 auto;
    }

}
@media all and (max-width: 400px) {
    #top-content img {
        width: 200px;
    }
    #top-content .privacy {
        font-size: 9px;
        line-height: 11px;
    }
    #testimonials .quote {
        display: none;
    }
}



#features {
    background: #ededed;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 50px 0px;
    text-align: center;
    width: 100%;
}

#features .thumbnail h3{
    color: black;
}

#features p{
    color: black;
}

#features h2 {
    color: #e74535;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 49px;
    margin: 0 auto;
    text-align: center;
    max-width: 90%;
}

.white-thumbnail{
    background-color: white;
}


#how-it-works {
    background: #ededed;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 50px 0px;
    /*text-align: center;*/
    width: 100%;
}

#how-it-works p{
    color: black;
}

#how-it-works h2 {
    color: #e74535;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 49px;
    margin: 0 auto;
    text-align: center;
    max-width: 90%;
}





#hire-me {
    background: #ededed;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 50px 0px;
    color: black;
    /*text-align: center;*/
    width: 100%;
}

#hire-me p{
    color: black;
}

#hire-me h2 {
    color: #e74535;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 49px;
    margin: 0 auto;
    text-align: center;
    max-width: 90%;
}